html, body{
	overflow-x: hidden; 
	margin: 0;
	padding: 0;
	position: relative;
	color: #FFF;
	font-family: 'source_sans_proregular';
}

.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

.wrapper .left-menu{
	width: 20%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #2D2D2D;
	border-right: solid 1px #52AF70;
	display: inline-block;
}

.wrapper .left-menu .menu{
	height: 100%;
	text-align: center;

}

.wrapper .left-menu .menu ul{
	vertical-align: middle;
	margin: 0;
	padding: 30vh 0;
	width: 100%;
	text-align: center;
	display: inline-block;
}

.wrapper .left-menu .menu ul li{
	margin: 0;
	font-size: 1.4em;
	line-height: 1.4em;
	width: 100%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 10px 0;
}

.wrapper .left-menu .menu ul li:hover{
	background: #3CDFD1;
}

.wrapper .left-menu .menu ul li > div{
	width: 50%;
	text-align: left;
	display: inline-block;
}

.wrapper .left-menu .menu ul li img{
	vertical-align: top;
	margin: 3px 0;
}

.wrapper .left-menu .menu ul li span{
	line-height: 1.4em;
    margin: 0px 0;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.wrapper .left-menu .contact-wrapper{
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
}

.wrapper .left-menu .copy{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.wrapper .left-menu ul li{
	list-style: none;
}

.wrapper .main-wrapper{
	width: 80%;
	display: inline-block;
	float: right;
	height: 100%;
	background-image: url(../img/mainBG.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.wrapper .main-wrapper .filter{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	z-index: 1;
}

.wrapper .main-wrapper .view{
	position: relative;
	z-index: 55;
}


.about-wrapper, .develop-wrapper, .research-wrapper, .education-wrapper{
	background: rgba(255,255,255,0.7);
	width: 96%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #000000;
	padding: 0 2%; 
}

.about-wrapper h2{
	font-size: 3em;
	text-align: center;
	font-family: 'niconneregular';

}

.about-wrapper p{
	text-align: justify;
}

.about-wrapper .middle-align{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 2vh 2%;
}

.about-wrapper .middle-align.center{
	text-align: center;
}

.about-wrapper .middle-align h3{
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
}

.develop-wrapper img{
	width: auto;
	height: 60%;
	margin: 20% auto;
}

.develop-wrapper div h3{
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
}

.develop-wrapper div{
	text-align: center;
}

.develop-wrapper .img-wrapper{
	border-radius: 50%;
	border: solid 10px #3CDFD1;
	display: inline-block;
	overflow: hidden;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	margin: 10px 40px;
	background: #FFFFFF;
}

.develop-wrapper .img-wrapper.three{
	border-bottom: none;
}

.develop-wrapper .img-wrapper.two{
	border-bottom: none;
	border-right: none;
}

.develop-wrapper .img-wrapper.one{
	border-left: none;
	border-right: none;
	border-bottom: none;	
}

.research-wrapper h3{
	font-size: 2em;
	text-align: center;
}

.research-wrapper div{
	text-align: center;
}

.research-wrapper div p{
	font-weight: normal;
}

.research-wrapper div img{
	max-width: 448px;
	height: auto;
	max-height: 300px;
}

.education-wrapper div{
	text-align: center;
}

.education-wrapper div h2{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.education-wrapper div img{
	max-width: 300px;
	height: auto;
}