<div>
    <h2>Cindy Viviana Hern&aacute;ndez Ot&aacute;lora</h2>
    <p>Disciplined and responsible women, enthusiastic for grow knowledge to apply on multi-disciplinary jobs, where she can involve the technology and software development as main basics. She likes the investment and constant growing to achive her dreams. Also has planing and leading skills that let her help with development processes. Has good team work adaptation, easy learning, is dinamic and proactive, and always ready to learn and achieve her personal and laboral goals. She has great analitic capacity, work responsbility, punctuality, and very organizaed with each asigned work.</p>
    <div>
        <h3>Develop</h3>
        <p> +3 years of experience working JAVA, and strong knowledge on Python-Django, metamodels creation, ETL, EGL for automation process, also basics on front end development (HTML, CSS3, JS). Finally she has great knowledge on cloud technologies like AWS, Heroku and Salesforce.</p>
    </div>
    <div>
        <h3>Create</h3>
        <p>Analize the world to identify some society needs and to look for solutions to facility the people life. Al ways think that the attitude of the people with a solution it´s the principal.</p>
    </div>
    <div>
        <h3>Agilism</h3>
        <p>She's a believer of agile methodologies and work with code generators as a basement to improve productivity. Is also a believer of KISS principle as life basics where simplicity is principal to stablish quality and good user experience.</p>
    </div>
    <div>
        <img src="./img/adesivo_gato.jpg">
    </div>
</div>