<div>
    <div>
        <h3>Develop</h3>
        <div>
            <img src="./img/java.png">
            <div>
                Barra
            </div>            
        </div>
        <div>
            <img src="./img/python-logo.png">
            <div>
                Barra Python
            </div>
        </div>|
        <div>
            <img src="./img/html.png">
            <div>
                Barra HTML
            </div>
        </div>
        <div>
            <img src="./img/css.png">
            <div>
                Barra CSS
            </div>
        </div>
        <div>
            <img src="./img/js3.png">
            <div>
                Barra JavaScript
            </div>
        </div>        
    </div>
    <div>
        <h3>Modeling</h3>
        <div>
            <img src="./img/UML.gif">
            <div>
                Barra UML
            </div>
        </div>
    </div>
    <div>
        <h3>Data Base</h3>
        <div>
            <img src="./img/Oracle_Database.jpg">
            <div>
                Barra Oracle
            </div>
        </div>
        <div>
            <img src="./img/mysql.png">
            <div>
                Barra MySQL
            </div>
        </div>
        <div>
            <img src="./img/postgresql.png">
            <div>
                Barra PostgreSQL
            </div>
        </div>
    </div>
    <div>
        <h3>Repositories</h3>
        <div>
            <img src="./img/GitHub.png">
            <div>
                Barra GitHub
            </div>
        </div>
        <div>
            <img src="./img/svn2.png">
            <div>
                Barra Subversion
            </div>
        </div>
    </div>
    <div>
        <h3>Cloud Computing</h3>
        <div>
            <img src="./img/aws.png">
            <div>
                Barra AWS
            </div>
        </div>
        <div>
            <img src="./img/salesforce.png">
            <div>
                Barra SalesForce
            </div>
        </div>
    </div>
</div>