<div class="develop-wrapper">
    <div>
        <h3>Develop</h3>
        <div class="img-wrapper">
            <img src="./img/java.png">
        </div>
        <div class="img-wrapper three">
            <img src="./img/python-logo.png">
        </div>
        <div class="img-wrapper two">
            <img src="./img/html.png">
        </div>
        <div class="img-wrapper one">
            <img src="./img/css.png">
        </div>
        <div class="img-wrapper one">
            <img src="./img/js3.png">
        </div>        
    </div>
    <div>
        <h3>Modeling</h3>
        <div class="img-wrapper three">
            <img src="./img/UML.gif">
        </div>
    </div>
    <div>
        <h3>Data Base</h3>
        <div class="img-wrapper three">
            <img src="./img/Oracle_Database.png">
        </div>
        <div class="img-wrapper">
            <img src="./img/mysql.png">
        </div>
        <div class="img-wrapper three">
            <img src="./img/postgresql.png">
        </div>
    </div>
    <div>
        <h3>Repositories</h3>
        <div class="img-wrapper three">
            <img src="./img/GitHub.png">
        </div>
        <div class="img-wrapper two">
            <img src="./img/svn2.png">
        </div>
    </div>
    <div>
        <h3>Cloud Computing</h3>
        <div class="img-wrapper three">
            <img src="./img/aws.png">
        </div>
        <div class="img-wrapper two">
            <img src="./img/salesforce.png">
        </div>
    </div>
</div>