<div class="education-wrapper">
    <div>
        <h2>Msc. in Software Engineering</h2>
        <img src="./img/uniandes.png">
        <h3>Universidad de los Andes - Bogot&aacute; - Colombia</h3>
        <h3>2014 - Present</h3>
    </div>
    <div>
        <h2>Systems and Computing Engineering</h2>
        <img src="./img/logo_uptc.png">
        <h3>Universidad Pedag&oacute;gica y Tecnol&oacute; de Colombia - Tunja - Boyac&aacute; - Colombia</h3>
        <h3>2009 - 2014</h3>
    </div>
    <div>
        <h2>Commercial and Financial Technology</h2>
        <img src="./img/UFPS_Logo.png">
        <h3>Universidad Francisco de Paula Santander with Universidad Pedag&oacute;gica y Tecnol&oacute; de Colombia - Tunja - Boyac&aacute; - Colombia</h3>
        <h3>2009 - 2012</h3>
    </div>
    <div>
        <h2>Bachelor's degree</h2>
        <img src="./img/logo_colegio.png">
        <h3>Colegio de la Presentaci&oacute;n - Tunja - Boyac&aacute; - Colombia</h3>
        <h3>2003 - 2008</h3>
    </div>
</div>