<div class="research-wrapper">
    <h3>Research</h3>
    <p>Me gusta investigar y realizar publicaciones de articulos con los resultados que obtengo, con el fín de lograr hacer aportes a la comunidad del area de Ingenieria de Software.</p>
    <div>
        <img src="./img/redcolsiBucaramanga.png">
        <h3>Speaker</h3>
        <p>BPM and its integration with mobile technology.</p>
    </div>
    <div>
        <img src="./img/CIINTI2012.jpg">
        <h3>Speaker</h3>
        <p>Collaborative Systems security risks and how to combat them.</p>
    </div>
    <div>
        <img src="./img/redcolsi2011.png">
        <h3>Speaker</h3>
        <p>Model propose for continuous improvement in the quality of engineering requirements.</p>
    </div>
    <div>
        <img src="./img/uniboyaca.png">
        <h3>Programming marathon</h3>
        <p>Universidad de Boyac&aacute;, second place. 2010</p>
    </div>
</div>