<div>
    <h3>Research</h3>
    <p>Me gusta investigar y realizar publicaciones de articulos con los resultados que obtengo, con el fín de lograr hacer aportes a la comunidad del area de Ingenieria de Software.</p>
    <div>
        <img src="./img/redcolsiBucaramanga.png">
        <h3>Speaker</h3>
        <h2>BPM and its integration with mobile technology.</h2>
    </div>
    <div>
        <img src="./img/CIINTI2012.jpg">
        <h3>Speaker</h3>
        <h2>Collaborative Systems security risks and how to combat them.</h2>
    </div>
    <div>
        <img src="./img/redcolsi2011.jpg">
        <h3>Speaker</h3>
        <h2>Model propose for continuous improvement in the quality of engineering requirements.</h2>
    </div>
    <div>
        <img src="./img/uniboyaca.jpg">
        <h3>Programming marathon</h3>
        <h2>Universidad de Boyac&aacute;, second place. 2010</h2>
    </div>
</div>